*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style/ */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  


}
 .btn {
  background-color: #FD6E0A;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #f3f3f3;
 }   
 .section-heading{
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
 }
.section-heading h2{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}
.section-heading p{
  font-size: 18;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}
header{
    background-color:#FFF8F3 ;
   padding-top: 50px;
   background: url("../images/developer.png"),url("../images/header_bg.png");
   background-repeat: no-repeat;
   background-position: top left,bottom right;

}
nav{
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid #e89b64; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}
.logo h2{
  font-size: 45px;
  font-weight: 900px;

}


  

.color-orange{
  color: #FD6E0A;
}
nav .menu{
  display: flex;
  list-style: none;
  gap: 51px;
  align-items: center;
}

nav .menu a{
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}
#banner{
  /* border: 1px solid black; */
  margin: 47px 38px 0px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner .banner-content{
  max-width: 585px;
}
#banner .banner-content h2{
  font-size: 45px;
  font: weight 600px;
  color: #474747;
  margin-bottom: 5px;

}
#banner .banner-content h1{
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
#banner .banner-content p{
  font-size: 18px;
  color: #757575;
  line-height:30px;
  margin-bottom:30px;

}
#banner .banner-image img{
  max-width: 584px;
  vertical-align: middle;
}
#about ,#skill,#resume{
  padding-top: 130px;
  
}
#about .about-conteinar{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto; 
  text-align: center;
  background-color: #FFF8F3;
  padding: 131px 156px 131px 156px;

}
#about .about-conteinar .about-info{
  display: flex;
  justify-content: space-around;

}
.about-info .info-card p{
   font-size:20px;
  line-height: 30px;
  color: #757575;
 
}
.about-info .info-card h2{
  font-size: 20px;
  font-weight: bold;
}


#skill .skill-container{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}
#skill .skill-container .skill-box{
  display: flex;
  gap: 24px;
  padding-top: 50px;
  
}
.skill-box .skill-card{
  padding: 30px;
  /* border: 1px solid red; */
  max-width: 247px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 6px 50px #0000002c;
}
.skill-card img{
  max-width: 44px;
  margin-bottom:30px ;

}
.skill-card h3{
  font-size: 20px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
  
} 
.skill-card p{
  max-width: 201px;
  font-size: 16px;
  line-height: 28px;
  color: #757575;

}

.resume-conteinar hr{
  margin: 30px 0;
}
#resume .resume-conteinar{
  width: 71%;
  max-width: 1140px;
  margin: 113px auto 0;
  display: flex;
  gap: 24px;
}
.resume-conteinar .section-title{
  font-size: 30px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 33px;
}
.resume-card{
  max-width: 511px;
  margin-right: 47px;
  
}
.resume-card .card-title{
  font-size: 25;
  font-weight: bold;
  color: #474747;
  margin-bottom: 10px;
}
 .resume-card .card-info{
  font-size: 20;
  font-weight: 600;
  color: #757575; 
  margin-bottom: 20px;
}
.resume-card .card-text{
  font-size: 16;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 30px;
  color: #757575;

}

.text-button{
  text-align: center;
  
}






  
